<nb-accordion class="accordion" >
  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Projekt 3</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space-component vcenter hleft col-md-11 background-transparent">
        <p class="text-basic paragraph">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </div>
      <div class="space space-component vcenter hcenter col-md-1 background-transparent">
        <button nbButton size="medium" appearance="filled" status="warning" fullWidth>
            Zum Projekt
        </button>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Projekt 4</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space-component vcenter hleft col-md-11 background-transparent">
        <p class="text-basic paragraph">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
      </div>
      <div class="space space-component vcenter hcenter col-md-1 background-transparent">
        <button nbButton size="medium" appearance="filled" status="warning" fullWidth>
            Zum Projekt
        </button>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>