<div class="slot">
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    <img class="image" src="https://i.imgur.com/l9kOqlT.png">
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    <img class="image1" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/TH_Koeln_Logo.svg/1200px-TH_Koeln_Logo.svg.png">
  </div>
</div>