
.space-component {
  height: auto;
  min-height: 3rem;
  overflow: visible;
}

.image {
  border-radius: 0;
  object-fit: fill;
}

.image1 {
  width: 420px;
  height: 90px;
  border-radius: 0;
  object-fit: fill;
}
