<nb-accordion class="accordion right" >
  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Projekt 1</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space-component vcenter hcenter col-md-11 background-transparent">
        <p class="text-basic paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis at tellus at urna condimentum mattis pellentesque id nibh. Ultrices in iaculis nunc sed augue.
        </p>
      </div>
      <div class="space space-component vcenter hcenter col-md-1 background-transparent">
        <button nbButton size="medium" appearance="filled" status="primary" fullWidth>
            Zum Projekt
        </button>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item class="slot">
    <nb-accordion-item-header>Projekt 2</nb-accordion-item-header>
    <nb-accordion-item-body>
      <div class="space space-component vcenter hcenter col-md-11 background-transparent">
        <p class="left text-basic paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="space space-component vcenter hcenter col-md-1 background-transparent">
        <button nbButton size="medium" appearance="filled" status="primary" fullWidth>
            Zum Projekt
        </button>
      </div>          
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>